<footer>
    <div class="credits">
        <!-- Français -->
        <div class="logo" lang="fr">
            <img src="{{ url_for('static', filename='favicon.png') }}">
            <p>Code source disponible sur <a href="https://github.com/PaulBayfield/FotoField" target="_blank">GitHub</a>.</p>
        </div>
        <p lang="fr">© <span id="annee">2024</span> Paul Bayfield, tous droits réservés.</p>

        <!-- English -->
        <div class="logo" lang="en">
            <img src="{{ url_for('static', filename='favicon.png') }}">
            <p>Source code available on <a href="https://github.com/PaulBayfield/FotoField" target="_blank">GitHub</a>.</p>
        </div>
        <p lang="en">© <span id="annee">2024</span> Paul Bayfield, all rights reserved.</p>
    </div>
</footer>