<header id="header">
    <nav>
        <a href="#" class="logo" >
            <img src="{{ url_for('static', filename='favicon.png') }}">
        </a>
        <div class="links">
            <div class="row">
                <h1 class="title">MoneyTracker {{ version }}</h1>
            </div>
            <div class="small-row">
                <button class="button" id="switch-lang" data-umami-event="Switch Lang">
                    <img src="{{ url_for('static', filename='images/uk.png') }}" lang="en">
                    <img src="{{ url_for('static', filename='images/fr.png') }}" lang="fr">
                </button>
                <div class="divider"></div>
                <button class="button" id="switch-mode" data-umami-event="Switch Theme">
                    <img src="{{ url_for('static', filename='images/light.png') }}" id="mode-dark">
                    <img src="{{ url_for('static', filename='images/dark.png') }}" id="mode-light">
                </button>
                {% if user.authenticated %}
                    <div class="divider"></div>
                    <a href="/user/logout" class="button log" id="log-out" data-umami-event="Log Out">
                        <img src="{{ url_for('static', filename='images/log-dark.png') }}" id="mode-dark">
                        <img src="{{ url_for('static', filename='images/log-light.png') }}" id="mode-light">
                        <span>{{ user.username }}</span>
                    </a>
                {% else %}
                    <div class="divider"></div>
                    <a href="/user/login" class="button log" id="log-in" data-umami-event="Log In">
                        <img src="{{ url_for('static', filename='images/log-dark.png') }}" id="mode-dark">
                        <img src="{{ url_for('static', filename='images/log-light.png') }}" id="mode-light">
                        <span lang="fr">Se connecter</span>
                        <span lang="en">Log in</span>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>