.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: var(--text);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.stat > .value {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.stat > .value > p {
    font-style: italic;
}
